@import url('./reset.css');

.container{
    display: flex;
    height: 100vh;
    padding: 10px 2%;
    overflow-x: hidden;
    background-image: linear-gradient(190deg,#444 0%, #333 50%, #ccc 100%);
}



/* PARTE DO SELETOR */
.seletor{
    /* border: 1px solid red; */
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #ffffffdc;
}
.SizePass, .contentPass{
    display: flex;
    flex-direction: column;  
    margin: 10px;
}
.SizePass h4, .contentPass h4{
    margin-bottom: 10px;
    font-size: 22px;
    letter-spacing: 2px;
}
.seletor span {
    font-size: 18px;
    letter-spacing: 1px;
}

.size-check, .content-check{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}
.size-check input, .content-check input{
    width: 60px;
    height: 30px;
    appearance: none;
    border-radius: 30px;
    background-color: #00000094;
    cursor: pointer;
    position: relative;
}
.size-check input::before, .content-check input::before{
    content: "";
    width: 20px;
    height: 20px;
    background-color: #8c8c8c;
    position: absolute;
    border-radius: inherit;
    top: 50%;
    left: .3rem;
    transform: translateY(-50%);
    transition: all .3s ease;
}
.size-check input:checked::before, .content-check input:checked::before{
    left: 2.1rem;
    background-color: #fff;
}



/* PARTE DO GERADOR */
.gerador{
    /* border: 1px solid rebeccapurple; */
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    letter-spacing: 1px;
}
.gerador h4{
    font-size: 2.1em;
}
.gerador textarea{
    width: 27rem;
    padding:5px;
    border-radius: 10px;
    border: 1px solid #000;
    margin: 20px 0;
    text-align: center;
    font-size: 15px;
    resize: none;
}
.gerador textarea::placeholder{
    text-align: center;
}
.gerador textarea:focus{
    outline: none;
}
.gerador button{
    padding: 10px 50px;
    font-size: 18px;
    background-color: #8c8c8c;
    color: #000;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container{
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
    .seletor{
        width: 100vw;
        flex-direction: row;
        justify-content: center;
        height: auto ;
    }
    .cript, .SizePass, .contentPass{
        margin: 25px 80px;
    }
    .gerador{
        width: 100vw;
        justify-content: start;
        padding-top: 100px;
    }
    .gerador textarea{
        margin: 30px 0;
    }
}
@media screen and (max-width: 450px) {
    .seletor{
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        height: auto ;
    }
    .gerador textarea{
        width: 90%;
        
        line-break: strict;
    }
}